* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: white;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #160b1f, #5b164f, #101b3d);
}

.logo {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ff375f;
}

header h1 {
    font-size: 52px;
    margin: 15px 0;
}

header p:last-child {
    color: #d5d5d5;
    font-size: 18px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(15, 15, 20, 0.97);
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #292934;
}

nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 14px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ff375f;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

.intro {
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
}

.etiqueta {
    color: #ff375f;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
}

.intro h2 {
    font-size: 38px;
}

.intro p:last-child {
    color: #aaa;
}

.serie {
    display: grid;
    grid-template-columns: 40% 60%;
    background: #17171d;
    border-radius: 18px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.35);
}

.serie img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.serie-info {
    padding: 40px;
}

.serie-info span {
    color: #ff375f;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
}

.serie-info h2 {
    font-size: 34px;
}

.serie-info p {
    color: #c8c8c8;
    line-height: 1.7;
}

.serie-info h3 {
    color: white;
}