* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b0f;
    color: white;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #160b1f, #5b164f, #101b3d);
}

.logo {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ff375f;
}

header h1 {
    font-size: 52px;
    margin: 15px 0;
}

header p:last-child {
    color: #d5d5d5;
    font-size: 18px;
}

nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(15, 15, 20, 0.97);
    padding: 18px;
    text-align: center;
    border-bottom: 1px solid #292934;
}

nav a {
    color: #ddd;
    text-decoration: none;
    margin: 0 14px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ff375f;
}